<!doctype html>
<html manifest="manifest.appcache">

<head>
    <meta charset="utf-8">
    <title>Ιατρικό Βοήθημα</title>
    <meta name="description" content="">
    <meta name="author" content="" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/index.min.css" />

    <script src="lib/index.min.js"></script>
    <script src="scripts/index.min.js"></script>
</head>

<body ng-app="medicalCalculator" ng-controller="calculatorController" layout="row" ng-cloak>
    <md-sidenav layout="column"
                class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-input-container>
            <input type="text" class="form-control search-query" placeholder="Αναζήτηση..." ng-model="filterText" ng-model-options="{ debounce: 300 }" />
        </md-input-container>
        <md-content flex md-scroll-y role="navigation">
            <md-list id="navview" du-spy-context du-scroll-container="viewCards">
                <md-list-item 
                              ng-hide="view.hidden"
                              class="nav-view-item"
                              ng-repeat="view in panelsList track by view.id">
                    <nav-view ng-click="$parent.toggleLeftPanel()"></nav-view>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <div flex layout="column" tabIndex="-1" role="main">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="toggleLeftPanel()" aria-label="Show Calculators List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <div layout="row" flex class="fill-height">
                <h2 class="md-heading">Ιατρικό Βοήθημα</h2>
            </div>
        </md-toolbar>

        <md-content id="viewCards" flex layout="column" md-scroll-y layout-padding>
            <md-card class="viewCard"
                     id="{{view.id}}" 
                     ng-hide="view.hidden"
                     ng-repeat="view in panelsList track by view.id">
                <md-card-title>
                    <md-card-title-text layout="row">
                        <span class="md-headline">{{view.name}}</span>
                        <span flex></span>
                        <md-button 
                                   class="md-icon-button" 
                                   aria-label="Reset Calculation"
                                   ng-show="view.reset" 
                                   verified-click="clearPanel(view.id)">
                            <md-icon md-svg-icon="reset"></md-icon>
                        </md-button>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <view view="view"></view>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</body>

</html>
