<!doctype html>
<html manifest="manifest.appcache">

<head>
    <meta charset="utf-8">
    <title>Ιατρικό Βοήθημα</title>
    <meta name="description" content="">
    <meta name="author" content="" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="css/index.min.css" />

    <script src="lib/platformOverrides.js"></script>
    <script src="lib/index.min.js"></script>
    <script src="scripts/index.min.js"></script>
</head>

<body ng-strict-di ng-app="medicalCalculator" ng-controller="calculatorController" layout="row" ng-cloak>
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                layout="column"
                md-component-id="left"
                md-swipe-left="closeLeftPanel()"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-input-container md-no-float class="search">
            <md-icon md-svg-src="search"></md-icon>
            <input ng-model="filterText" type="text" placeholder="Αναζήτηση...">
        </md-input-container>

        <md-content md-scroll-y
                    role="navigation">
            <div ng-repeat="(categoryName, category) in categories[selectedTopCategory].categories">
                <md-subheader class="md-primary">{{::categoryName}}</md-subheader>
                <md-list id="navview" du-spy-context du-scroll-container="view-cards{{selectedTopCategory}}">
                    <nav-view class="nav-view-item"
                              ng-href="#{{::view.description.id}}"
                              du-smooth-scroll
                              du-scrollspy
                              offset=60
                              ng-repeat="view in category track by view.description.id">
                    </nav-view>
                </md-list>
            </div>
        </md-content>
    </md-sidenav>

    <div flex layout="column" tabIndex="-1" role="main" md-swipe-right="openLeftPanel()">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="toggleLeftPanel()" aria-label="Show Calculators List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <div layout="row" flex class="fill-height" layout-align="left center">
                <h2 class="md-heading">Ιατρικό Βοήθημα</h2>
            </div>
        </md-toolbar>
        <md-tabs flex layout="column" md-border-bottom md-enable-disconnect md-selected="selectedTopCategory">
            <md-tab flex layout="column" layout-fill ng-repeat="topCategoriesList in categories track by $index" label="{{topCategoriesList.name}}">
                <md-tab-content flex layout-fill md-scroll-y layout-padding id="view-cards{{$index}}">
                    <div ng-repeat="(categoryName, category) in topCategoriesList.categories">
                        <div class="view-card"
                             id="{{::view.description.id}}"
                             ng-repeat="view in category track by view.description.id">
                            <div class="result-header">
                                <md-subheader class="result" ng-class="[view.result.resultlevel]">
                                    <span><md-icon md-svg-icon="{{view.result.resultlevel}}" ng-class="[view.result.resultlevel]" /></span>
                                    <span class="result-text" ng-bind-html="view.result.result | to_trusted"></span>
                                    <span class="result-suffix" ng-bind-html="view.result.suffix | to_trusted"></span>
                                </md-subheader>
                            </div>
                            <view view="view"></view>
                            <md-divider ng-if="!$last"></md-divider>
                        </div>
                    </div>
                </md-tab-content>
            </md-tab>
        </md-tabs>
    </div>
</body>
</html>