<form layout-padding name="form">
    <div layout="row" class="view-title">
        <span class="md-headline" ng-bind-html="::view.description.name | to_trusted"></span>
        <span flex></span>
        <md-button class="md-fab md-mini reset-button ng-hide" aria-label="Reset Calculation" ng-show="view.reset && form.$dirty"
        ng-click="clearPanel()">
            <md-icon md-svg-icon="reset"></md-icon>
        </md-button>
    </div>
    <ng-include src="'partials/inputs/input.'+field.input.type+'.html'" ng-repeat="field in ::view.fields" layout="column" ng-hide="field.input.hidden"></ng-include>
</form>