
.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    top: 30px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

    .hint.ng-hide,
    .hint.ng-enter,
    .hint.ng-leave.ng-leave-active {
        top: 56px;
        opacity: 0;
    }

        .hint.ng-leave,
        .hint.ng-enter.ng-enter-active {
            top: 30px;
            opacity: 1;
        }

.spin {
    animation: spin 2s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(359deg);
    }
}


md-icon svg {
    fill: inherit;
}


/* starting animations */
md-card.result.normal-add,
md-card.result.intermediate-add,
md-card.result.abnormal-add {
    animation: 0.2s pulse;
    animation-delay: 0.2s;
    transition: background-color 0.4s linear;
}

@keyframes pulse {
    0% {
         transform: scale3d(1,1,1);
    }

    50% {
        transform: scale3d(1.03, 1.03, 1.03);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

md-card.result
{
    background-color: #cfcfcf;
}

    md-card.result.normal {
        background-color: #cfefcf;
    }

    md-card.result.intermediate {
        background-color: #cfcfef;
    }

    md-card.result.abnormal {
        background-color: #efcfcf;
    }

    md-card.result md-card-header md-card-avatar, md-card md-card-header:last-child md-card-avatar {
        margin-left: 0;
    }

        md-card.result md-card-header md-card-avatar md-icon {
            padding: 0;
            background-color: inherit;
            height: 40px;
            width: 40px;
        }

        md-card.result md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon {
            border-radius: 0;
        }

            md-card.result md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon.normal {
                fill: green;
            }

            md-card.result md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon.intermediate {
                fill: blue;
            }

            md-card.result md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon.abnormal {
                fill: red;
            }

md-input-container.search {
    margin-bottom: 0;
}

md-toast.result
{
    color: lightgray;
}

md-toast.result .normal {
    color: lightcyan;
}

md-toast.result .intermediate {
    color: lightgoldenrodyellow;
}

md-toast.result .abnormal {
    color: lightpink;
}

span.result-text {
    font-size: xx-large;
    height: 33px;
}

span.result-prefix {
}

span.result-suffix {
}
