
.hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    top: 30px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    -moz-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    -o-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey;
}

    .hint.ng-hide,
    .hint.ng-enter,
    .hint.ng-leave.ng-leave-active {
        top: 56px;
        opacity: 0;
    }

        .hint.ng-leave,
        .hint.ng-enter.ng-enter-active {
            top: 30px;
            opacity: 1;
        }

.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

md-icon svg {
    fill: inherit;
}

md-card.result {
    background-color:lightgray;
}
md-card.result.normal {
    background-color:aliceblue;
}

md-card.result.intermediate {
    background-color:paleturquoise;
}
md-card.result.abnormal {
    background-color:lightpink;
}

md-card.result md-card-header md-card-avatar, md-card md-card-header:last-child md-card-avatar {
    margin-left: 0;

}

md-card.result md-card-header md-card-avatar md-icon {
    padding: 0;
    background-color: inherit;
    height: 40px;
    width: 40px;
}

md-card.result md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon {
    border-radius: 0;
}

md-card.result md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon.normal {
    fill: darkgreen;
}

md-card.result md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon.intermediate {
    fill: darkblue;
}

md-card.result md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon.abnormal {
    fill: darkred;
}